:root {
  --text-color: rgb(0, 0, 0);

}

#root {
  width: 100vw;

}

html {
  scroll-behavior: smooth;
}

.awssld {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 525ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #ffffff8a;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: transparent;
  --control-bullet-active-color: transparent;
  --loader-bar-color: #00ff00;
  --loader-bar-height: 8px;
}

.awssld__bullets {
  display: none;
}



:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

body {

  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  color: var(--text-color);
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;

}


h1 {
  margin: 0;
  font-size: 5em;
  margin-bottom: .5rem;
}


.input {
  border: 0px;

  border-radius: .3em;
  padding: .25rem;
  width: 10em;
  margin-right: .5rem;
  text-align: center;
  color: var(--text-color);
}

select {
  border: none;
  color: var(--text-color);
  width: 15em;
  font-size: 1.5em;
  text-align: center;
  background-color: #ffffff70;
}

option {
  background-color: #ffffff41;
}

.selectFields {
  text-align: center;

}

.selectFields>* {
  margin: auto;
}


.selectBoxes {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}


small {
  font-size: .5rem;
  padding-left: .5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
  color: #ffffffcb;
  visibility: hidden;
}

.big-spinner {
  font-size: 2em;
  width: 100px;
  height: 100px;
  margin-top: 5em;
}

.footer {
  background-color: white;
  width: 100%;

  text-align: center;
  margin: auto;
}